<?xml version="1.0"?>
<!--
/**
 * Copyright © Banca Transilvania. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <payment>
            <btrl_ipay>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
            </btrl_ipay>
            <btrl_ipay_cof>
                <model>BTRLiPayVaultFacade</model>
                <group>btrl</group>
                <active>0</active>
            </btrl_ipay_cof>
        </payment>
    </default>
</config>
