<?xml version="1.0"?>
<!--
/**
 * Copyright © Banca Transilvania. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <section id="payment">
            <group id="btrl_ipay">
                <field
                    id="card_on_file"
                    translate="label"
                    type="select"
                    sortOrder="15"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="0"
                >
                    <label>Enable Card On File</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/btrl_ipay_cof/active</config_path>
                    <comment><![CDATA[Save Card For Later Use. This will only work for registered users.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
